* {
    box-sizing: border-box;
}

#weatherImage img {
    width: 75px;
    height: 75px;
    float: left;
    animation: fade 3s 0s ease-out;
}

.fa {
    padding-left: 5px;
    font-size: 20px;
    color: #1590bd;
}

#location {
    font-size: 3rem;
    font-weight: 700;
    padding-bottom: 20px;
}

#conditions {
    padding-left: 15px;
    padding-top: 10px;
    font-size: 1.5em;
    font-weight: 600;
    float: left;
}

#tempDegree {
    font-size: 1.15em;
    padding-top: 40px;
    padding-left: 95px;
}

#day {
    padding-top: 35px;
}

#dailyHigh {
    font-size: .8em;
    padding-top: 5px;
    padding-left: 21px;
    float: left;
}

#dailyLow {
    font-size: .8em;
    padding-top: 5px;
    padding-left: 3px;
    float: left;
}

.col-container {
    position: relative;
    text-align: center;
    top: 60px;
    left: -165px;
    width: 75%;
    background-color: #F7F7F7;
    float: left;
    font-size: .875rem;
    display: table;
}

.col {
    display: table-cell;
    padding: 10px;
}

.currentWeather {
    position: relative;
    left: 60px;
}


@keyframes fade{
  0%{
    width: 70px;
    height: 70px;
    opacity: 0;
  }
  100%{
    width: 75px;
    height: 75px;
    opacity: 1;
  }
}

@media screen and (max-width: 666px) {
    .col-container {
        top: 50px;
        left: 0;
        width: 100%;
        display: block;
    }
    
    .col {
        display: block;
    }
}