* {
    box-sizing: border-box;
}

#weatherImage img {
    width: 75px;
    height: 75px;
    float: left;
    animation: fade 1s 0s ease-out;
}

.fa {
    padding-left: 5px;
    font-size: 20px;
    color: #1590bd;
}

#location {
    font-size: 3rem;
    font-weight: 700;
    padding-bottom: 20px;
}

#conditions {
    padding-left: 15px;
    padding-top: 10px;
    font-size: 1.5em;
    font-weight: 600;
    float: left;
}

#tempDegree {
    font-size: 1.15em;
    padding-top: 40px;
    padding-left: 95px;
}

#day {
    padding-top: 35px;
}

#dailyHigh {
    font-size: .8em;
    padding-top: 5px;
    padding-left: 21px;
    float: left;
}

#dailyLow {
    font-size: .8em;
    padding-top: 5px;
    padding-left: 3px;
    float: left;
}

.col-container {
    position: relative;
    text-align: center;
    top: 60px;
    left: -165px;
    width: 75%;
    background-color: #F7F7F7;
    float: left;
    font-size: .875rem;
    display: table;
}

.col {
    display: table-cell;
    padding: 10px;
}

.currentWeather {
    position: relative;
    left: 30px;
}

button {
    padding-top: 3px;
}

#lastUpdateTime {
    font-size: .6rem;
    font-style: italic;
}


.compass {
    top: 0px;
    left: 30%;
    position: absolute;
    display: block;
}

.dial {
border-radius: 50%;
    width: 59px;
    height: 59px;
    border: 3px solid #818282;
    position: relative;
    box-sizing: content-box;
}
.arrow {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 18px solid #1E2023;
    position: absolute;
    left: 23.5px;
    top: -10px;
}

#windDirection {
    top: 14px;
    left: 304px;
    position: absolute;
    display: block;
    width: 47px;
    text-align: center;
    font-size: 12px;
}

#windSpeed {
    top: 32px;
    left: 304px;
    position: absolute;
    display: block;
    width: 46px;
    text-align: center;
    font-weight: 800;
}

#windDir {
    top: 70px;
    left: 282px;
    position: absolute;
    display: block;
    width: 90px;
    text-align: center;
}

#windGusts {
    top: 90px;
    left: 272px;
    position: absolute;
    display: block;
    width: 110px;
    text-align: center;
}

@keyframes fade {
    0% {
        width: 60px;
        height: 60px;
        opacity: 0;
    }
    25% {
        width: 65px;
        height: 65px;
        opacity: .50;
    }    
    50% {
        width: 70px;
        height: 70px;
        opacity: .75;
    }
    100% {
        width: 75px;
        height: 75px;
        opacity: 1;
    }
}

@media screen and (max-width: 666px) {
    .col-container {
        top: 50px;
        left: 10px;
        width: 100%;
        display: block;
    }
    
    .col {
        display: block;
    }
    
    #windDirection {
        left: 263px;
    }
    
    .compass {
        top: 1px;
        left: 64%;
    }
    
    #windSpeed {
        left: 264px;
    }
    
    #windDir {
        left: 235px;
    }
    
    #windGusts {
        top: 90px;
        left: 228px;
    }
}